name: Continuous Deployment

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            if [ ! -d "forum-api" ]; then
              git clone https://github.com/AxelderB5/forum-api-v2.git forum-api
            fi

            cd forum-api
            git pull origin main
            npm install

            echo "PGUSER=${{ secrets.PGUSER }}" > .env
            echo "PGHOST=${{ secrets.PGHOST }}" >> .env
            echo "PGPASSWORD=${{ secrets.PGPASSWORD }}" >> .env
            echo "PGDATABASE=${{ secrets.PGDATABASE }}" >> .env
            echo "PGPORT=${{ secrets.PGPORT }}" >> .env
            echo "ACCESS_TOKEN_KEY=rahasia-banget-produksi" >> .env
            echo "REFRESH_TOKEN_KEY=rahasia-pisan-produksi" >> .env
            echo "ACCESS_TOKEN_AGE=1800" >> .env
            echo "NODE_ENV=production" >> .env

            npm run migrate -- up
            pm2 restart forum-api || pm2 start src/app.js --name forum-api